<% include ../partials/header %>

<div class="container">
	<h1 class="text-center m-4">Write a review about <%= campground.name %></h1>
	<div class="row">
		<div class="col-md-6 mx-auto">
			<form class="form-group" action="/campgrounds/<%= campground._id %>/comments" method="POST">
				<div class="form-group">
					<textarea class="form-control" name="comment[text]" rows="6" placeholder="What do you think?"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a href="/campgrounds/<%= campground._id %>">Go Back</a>
		</div>
	</div>
</div>

</body>
</html>